<%- include("partials/header.ejs")  %>
<form action="/tody">
<h1  class="item1" id="h1-color">☑️ Check It Off, Feel Accomplished!</h1>
<p class="p">Stay focused, Manage your time efficiently.</p>
<div style="text-align: center;"><input type="submit" value="Get Started !!"class="btn"></div>
</form>
<%- include("partials/footer.ejs")  %>